body  {
    background-color: #aaa;
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    margin-top: 20vh;
    border: 5px darkblue solid;
}

h1 {
    font-size: 3rem;
    color: darkblue;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: darkblue;
}

fieldset {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fieldset input {
    padding: .5rem;
    margin-left: 1rem;
}

button {
    display: block;
    width: 50%;
    margin: 1rem auto;
    border: none;
    font-size: 2rem;
    background-color: darkblue;
    color: #ddd;
    padding: 1rem;
    cursor: pointer;
}

#css {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: darkblue;
}

#clipboard {
    font-size: 1.25rem;
    width: 200px;
    background-color: darkred;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}